# Compiled sources #
####################
*.pyc
*.exe

# ignore swapped files
*.swp
*.ssh
*.swo

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Virtual envs
venv/*

.idea/*
.DS_Store

# training
training/graph.pbtxt
training/checkpoint
training/model.*
training/events.*
training/backup
training/bottle
training/bowl
training/cup
training/images
training/kettle
training/.ipynb_checkpoints
training/bottle.*
training/bowl.*
training/cup.*
training/kettle.*
training/train.record
